header
      ul(class="navbar")
        li(classe="navbar navbar__logo")
            a(href="#") Stay@Home
        li()
            a(href="#") Movies
        li()
            a(href="#") TV Shows
      article(class="icons")
        img(src="img/search-line.svg"
          class="icons__search"
          alt="search icon")
        img(src="img/account-circle-line.svg"
          class="icons__user"
          alt="user icon")