.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main__trending {
  width: 1080px;
  height: 250px;
  background-color: blueviolet;
  margin-top: 80px;
}
.main__choose {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 80px;
  div {
    width: 148px;
    height: 148px;
    border-radius: 100px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.category__action {
  display: flex;
  .movie {
    width: 310px;
    height: 180px;
    border-radius: 20px;
    background-color: brown;
  }
}
