.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main__trending {
  width: 1080px;
  height: 216px;
  background-color: blueviolet;
  margin-top: 80px;
  overflow: hidden;
  position: relative;
}

.trending__slider {
  transition: transform 0.3s;
  width: 400%;
  height: 216px;
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    float: left;
  }
}

.trending__slides {
  width: 1080px;
  height: 216px;
  object-fit: cover;
}

.main__choose {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 80px;
  div {
    width: 148px;
    height: 148px;
    border-radius: 100px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.main__category {
  display: grid;
  grid-template-rows: minmax(100px, max-content);
  grid-gap: 30px;
  margin-top: 40px;
}
.category__row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
  overflow: hidden;
  .movie {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background-color: blueviolet;
    text-align: center;
    padding: 20%;
    color: white;
    font-size: 40px;
    p {
      opacity: 0;
    }
  }

  .movie:hover {
    opacity: 0.8;
    transform: scale(0.9);
    p {
      opacity: 1;
    }
  }
}
.choose_cat:hover {
  transform: scale(0.9);
}

.category__trending::after {
  content: "Action";
  color: #ff8b37;
  font-size: 30px;
}
.category::before {
  content: "Trending";
  color: #ff8b37;
  font-size: 30px;
}

.category__action::after {
  content: "Romance";
  color: #ff8b37;
  font-size: 30px;
}

.category__romance::after {
  content: "Comedy";
  color: #ff8b37;
  font-size: 30px;
}
.category__comedy::after {
  content: "Horror";
  color: #ff8b37;
  font-size: 30px;
}
.category__horror::after {
  content: "Thriller";
  color: #ff8b37;
  font-size: 30px;
}
.category__thriller::after {
  content: "Drama";
  color: #ff8b37;
  font-size: 30px;
}

///////// MOVIES

div[data-movie="actionM1"] {
  background-image: url("../movies/actionM1.jpg");
  background-size: cover;
}

div[data-movie="actionM2"] {
  background-image: url("../movies/actionM2.jpeg");
  background-size: 100% 100%;
}
div[data-movie="actionM3"] {
  background-image: url("../img/movie/actionM3.png");
  background-size: 100% 100%;
}
div[data-movie="actionM4"] {
  background-image: url("../img/movie/actionM4.png");
  background-size: 100% 100%;
}
div[data-movie="actionM5"] {
  background-image: url("../img/movie/actionM5.png");
  background-size: 100% 100%;
}
div[data-movie="romanceM1"] {
  background-image: url("../img/movie/romanceM1.png");
  background-size: 100% 100%;
}
div[data-movie="romanceM2"] {
  background-image: url("../img/movie/romanceM2.png");
  background-size: 100% 100%;
}
/* div[data-movie="romanceM3"] {
  // background-image: url("../img/movie/romanceM3.png");
  background-size: 100% 100%;
}
div[data-movie="romanceM4"] {
  //  background-image: url("../img/movie/romanceM4.png");
  background-size: 100% 100%;
}
div[data-movie="romanceM5"] {
  // background-image: url("../img/movie/romanceM5.png");
  background-size: 100% 100%;
} */

div[data-movie="comedyM1"] {
  background-image: url("../img/movie/comedyM1.png");
  background-size: 100% 100%;
}
div[data-movie="comedyM2"] {
  background-image: url("../img/movie/comedyM2.png");
  background-size: 100% 100%;
}
div[data-movie="comedyM3"] {
  background-image: url("../img/movie/comedyM3.png");
  background-size: 100% 100%;
}
/* div[data-movie="comedyM4"] {
   background-image: url("../img/movie/comedyM4.png");
  background-size: 100% 100%;
}
div[data-movie="comedyM5"] {
   background-image: url("../img/movie/comedyM5.png");
  background-size: 100% 100%;
} */

div[data-movie="horrorM1"] {
  background-image: url("../img/movie/horrorM1.png");
  background-size: 100% 100%;
}
div[data-movie="horrorM2"] {
  background-image: url("../img/movie/horrorM2.png");
  background-size: 100% 100%;
}
div[data-movie="horrorM3"] {
  background-image: url("../img/movie/horrorM3.png");
  background-size: 100% 100%;
}
/* div[data-movie="horrorM4"] {
   background-image: url("../img/movie/horrorM4.png");
   background-size: 100% 100%;
}
div[data-movie="horrorM5"] {
   background-image: url("../img/movie/horrorM5.png");
   background-size: 100% 100%;
} */

/* div[data-movie="thrillerM1"] {
  background-image: url("../img/movie/thrillerM1.png");
  background-size: 100% 100%;
} */
div[data-movie="thrillerM2"] {
  background-image: url("../img/movie/thrillerM2.png");
  background-size: 100% 100%;
}
div[data-movie="thrillerM3"] {
  background-image: url("../img/movie/thrillerM3.png");
  background-size: 100% 100%;
}
/* div[data-movie="thrillerM4"] {
   background-image: url("../img/movie/thrillerM4.png");
   background-size: 100% 100%;
}
div[data-movie="thrillerM5"] {
   background-image: url("../img/movie/thrillerM5.png");
   background-size: 100% 100%;
} */

div[data-movie="dramaM1"] {
  background-image: url("../img/movie/dramaM1.png");
  background-size: 100% 100%;
}
div[data-movie="dramaM2"] {
  background-image: url("../img/movie/dramaM2.png");
  background-size: 100% 100%;
}
/* div[data-movie="dramaM3"] {
  background-image: url("../img/movie/dramaM3.png");
  background-size: 100% 100%;
} */
/* div[data-movie="dramaM4"] {
   background-image: url("../img/movie/dramaM4.png");
   background-size: 100% 100%;
}
div[data-movie="dramaM5"] {
   background-image: url("../img/movie/dramaM5.png");
   background-size: 100% 100%;
} */
.modalPlayer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
