.signIn {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sign__img {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
}
.signIn__title {
  color: #ff8b37;
  margin-top: 140px;
  font-size: 41px;
}

.signIn__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 140px;
}

.signIn__input {
  border-radius: 50px;
  height: 45px;
  width: 400px;
  margin-bottom: 50px;
  border: none;
  padding-left: 20px;
}

.signIn__input--check {
  height: 20px;
  width: 20px;
}

.signIn__submit {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.signIn__button {
  height: 35px;
  width: 120px;
  border-radius: 10px;
  border: none;
}
