* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
.header {
  height: 64px;
  background-color: #17111c;
}
body {
  background-color: #271d30;
}
a {
  text-decoration: none;
  color: orange;
}
@import "reset.css";
@import "header.scss";
@import "hero.scss";
@import "movie.scss";
@import "footer.scss";
@import "signIn.scss";
